/*********************** All Posts Css **************************************/
.short-post {
	padding-top: 15px !important;
	margin-top: 25px !important;
}

.short-post .divider {
	margin-bottom: 15px;
}

.blog-sticky-header.fixed{
	box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}
