@media only screen and (min-width: 993px){
	.container {
    	width: 85% !important;
	}
}

.profile-img {
	border-radius: 50%;
}

i , .tabs {
	direction: ltr;
}

.camp-creator {
	margin: 20px 0;
}

.camp-creator-detail i {
 	top: 5px;
	right: 0px;
    position: relative;
}

.back-button {
	margin-top: 15px;
}

.award-item {
	border-radius: 5px;
	width: 95%;
	padding: 20px 10px;
	margin: 20px 10px !important;
	cursor:pointer;
	position: relative;
	overflow: hidden;
}

.award-item .row {
    margin:5px 10px;
}

.award-item .award-item-title {
	font-size: 1.4rem;
    line-height: 110%;
    letter-spacing: -0.5px;
}

.award-item .mask {
	background-color: #26a69a !important;
	position: absolute;
	margin-right: -10px;
	width: 100%;
	height: 100%;
	top:0px;
	left: -110%;
	webkit-transition: left 0.2s ease-in-out;
    -moz-transition: left 0.2s ease-in-out;
    -o-transition: left 0.2s ease-in-out;
    transition: left 0.2s ease-in-out;
}

.award-item .content {
    float:none!important;
    display: inline-block;
	webkit-transition: margin 0.2s ease-in-out;
    -moz-transition: margin 0.2s ease-in-out;
    -o-transition: margin 0.2s ease-in-out;
    transition: margin 0.2s ease-in-out;
}

.award-item .mask h4 {
	width: 100%;
}

.award-item:hover .mask{
	left:0px;
}

.award-item:hover .content{
	margin-right:-100%; 
}

.pledge-modal {
    max-height: 70% !important;
}

#pledge-modal-nl .modal-content {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

.pledge-modal .award-item-title {
	position: relative;
	margin-top: 18px;
}

.pledge-modal .bakers {
    font-size: 1.4rem;
    float: right;  
    color:#C7EDF9 !important;
}

@media only screen and (min-width: 993px){
	.pledge-modal .bakers {
		position: relative;
 	   top: 30px;
	}
}

.pledge-modal h6 {
	font-size: 1.4rem !important;
}

.pledge-modal .login {
	overflow: hidden;
}

.pledge-modal .login .input-field .prefix {
    left: 15px;
    top: 8px;
}

.pledge-modal .login .input-field label{
	right: 0.75rem !important;
}

.pledge-modal .login .remember-me {
	margin-top: -5px;
	margin-bottom: 15px;
}

.pledge-modal .login .forgot-pass {
	padding-right: 22px;
}

.modal.bottom-sheet {
    will-change: initial !important
}

.pledge-modal input#pledge_amount {
	font-size: 3rem;
} 

.pledge-modal .pledge_amount_wrapper h6 {
	margin-top: 25px;
	display: inline-block;
}

.pledge-modal .pledge_amount_wrapper h6.s4 {
	width:20% !important;
}

.pledge-modal .pledge_amount_wrapper div {
	display: inline-block;
}