.cover-image {
    background-image: url("../img/cover1.jpg");
    background-size: cover;
    width: 100%;
    height: 500px;
}

.parallax-container {
    height: 350px;
}

.account-name {
    position: relative;
    top: -230px;
}

.avatar-container {
    position: relative;
    top: -190px;
}

.avatar-container img {
    width: 200px;
    height: 200px;
    border-color: white;
    border-width: 8px;
    border-style: solid;

    transition: 0.40s filter ease-out;
    -webkit-transition: 0.40s filter ease-out;
    -moz-transition: 0.40s filter ease-out;
    -ms-transition: 0.40s filter ease-out;
    -o-transition: 0.40s filter ease-out;
}

.avatar-container img:hover {
    filter: blur(0.5px) brightness(90%);
}

html {
    direction: rtl;
    font-family: serif;
}

i {
    direction: ltr !important;
}

.edit-button {
    position: relative;
    top: -325px;
    right: 10%;
}

.content-row {
    display: inline-block;
    margin-top: -160px;
}

.sidepanel {
    overflow: visible;
    height: inherit;
    font-size: 1.3rem;
}

.page-content {
    padding-left: 100px !important;
}

@media (max-width: 600px) {
.page-content {
    padding-left: 0.75rem !important;
}
}

@media (min-width: 600px) and (max-width: 992px){
.page-content {
    padding-left: 30px !important;
}
}

.table-of-contents a:hover {
    color:#a8a8a8;
    padding-left:19px;
    border-left:2px solid #4ab6eb
}

.card .row label {
    position: absolute;
    right: 10px;
}

.card .row {
    padding-left: 35px;
    padding-right: 35px;
}


.materialboxed {
  display: inline !important;
  cursor: zoom-in;
  position: relative;
  -webkit-transition: opacity .4s;
  -moz-transition: opacity .4s;
  -o-transition: opacity .4s;
  -ms-transition: opacity .4s;
  transition: opacity .4s; }
  .materialboxed:hover {
    will-change: left, top, width, height; }
    .materialboxed:hover:not(.active) {
      opacity: 1 !important; }

i.bio {
    
}