html {
	font-family: 'Koodak', sans-serif;
}

body{
	direction: rtl !important;
}

body div ul#user-dropdown li {
	text-align: right !important;
}

.tabs .tab a {
	color: #03a9f4 !important; /*Light-Blue*/
	font-family: 'Yekan', sans-serif;
	font-size: 1.2rem;
	letter-spacing: -0.3px;
}

.tabs .tab a:hover {
	color: #4fc3f7 !important; /*Light-Blue Lighten-2*/
}

.tabs .tab a.active {
	border-color: #4fc3f7;
}

.tabs .indicator {
    background-color: #4fc3f7 !important;
}

.pie_progress {
	width: 100px;
    margin-top: -20px;
}

.pie_progress__number {
	position: relative;
	float: left;
	top: 60px;
	left: 35px;
}

.pie_day {
	width: 60px;
    margin-top: 0px;
}

.pie_day__number {
	position: relative;
	float: left;
    top: 40px;
    left: 15px;
}

.item-row .row	{
	margin-bottom: 0 !important;
}

.card-location i {
	position: relative;
    direction: ltr;
    top: 2px;
    margin-right: 5px
}

.item-img {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 180px;
  width: 100%;
}