html {
	font-family: 'Koodak', sans-serif !important;
}

a, a:active, a:focus {
outline: none;
}

body {
	direction: rtl !important;
}

body div ul#user-dropdown li {
	text-align: right !important;
}

.tabs .tab a {
	color: #03a9f4 !important; /*Light-Blue*/
	font-family: 'Yekan', sans-serif;
	font-size: 1.2rem;
	letter-spacing: -0.3px;
}

.tabs .tab a:hover {
	color: #4fc3f7 !important; /*Light-Blue Lighten-2*/
}

.tabs .tab a.active {
	border-color: #4fc3f7;
}

.tabs .indicator {
    background-color: #4fc3f7 !important;
}

/* IntroJS Override */
.introjs-button, .introjs-nextbutton, .introjs-prevbutton {
	letter-spacing: 0px !important;
}

.introjs-skipbutton {
	color: #000 !important;
	letter-spacing: 0px !important;
}

.input-field input[type=search]:focus {
    background-color: #F1F1F1 !important;
    color: #808080 !important;
}

.input-field input[type=search] {
    color: #FFFFFF !important;
}